# Importing libararies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Loading the dataset

In [3]:
data = pd.read_csv('car_ad.csv',encoding='latin-1')
data.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

# Dataset information

### 1) Displaying rows and columns

In [4]:
data.shape

(9576, 10)

### 2) Displaying the column names

In [5]:
data.columns

Index(['car', 'price', 'body', 'mileage', 'engV', 'engType', 'registration',
       'year', 'model', 'drive'],
      dtype='object')

### 3) Displaying data type of each column

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car           9576 non-null   object
 1   price         9576 non-null   float64
 2   body          9576 non-null   object
 3   mileage       9576 non-null   int64
 4   engV          9142 non-null   float64
 5   engType       9576 non-null   object
 6   registration  9576 non-null   object
 7   year          9576 non-null   int64
 8   model         9576 non-null   object
 9   drive         9065 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

### 4) displaying the number of null numbers

In [7]:
data.isnull().sum()

car               0
price             0
body              0
mileage           0
engV            434
engType           0
registration      0
year              0
model             0
drive           511
dtype: int64

### 5) Some stats on the dataset

In [8]:
data.describe()

               price      mileage         engV         year
count    9576.000000  9576.000000  9142.000000  9576.000000
mean    15633.317316   138.862364     2.646344  2006.605994
std     24106.523436    98.629754     5.927699     7.067924
min         0.000000     0.000000     0.100000  1953.000000
25%      4999.000000    70.000000     1.600000  2004.000000
50%      9200.000000   128.000000     2.000000  2008.000000
75%     16700.000000   194.000000     2.500000  2012.000000
max    547800.000000   999.000000    99.990000  2016.000000

### 6) Checking for duplicate values

In [9]:
print(data[data.duplicated()])

                car     price       body  mileage  engV engType registration  \
18           Nissan   16600.0  crossover       83   2.0  Petrol          yes
42    Mercedes-Benz   20400.0      sedan      190   1.8     Gas          yes
70    Mercedes-Benz       0.0  crossover        0   3.0  Diesel          yes
86           Toyota  103999.0  crossover        0   4.5  Diesel          yes
98    Mercedes-Benz   20400.0      sedan      190   1.8     Gas          yes
...             ...       ...        ...      ...   ...     ...          ...
9156     Volkswagen   15700.0      sedan      110   1.8  Petrol          yes
9163  Mercedes-Benz   20500.0      sedan      222   5.5  Petrol          yes
9164            VAZ    3900.0      hatch      121   1.4  Petrol          yes
9169        Hyundai   12900.0  crossover       49   2.7  Petrol          yes
9477            BMW   77777.0      sedan        8   4.4  Petrol          yes

      year             model  drive
18    2013           X-Trail   full
42    2011           E-Class   rear
70    2016         GLE-Class   full
86    2016  Land Cruiser 200   full
98    2011           E-Class   rear
...    ...               ...    ...
9156  2011         Passat B7  front
9163  2006             S 500   rear
9164  2008              1119  front
9169  2008            Tucson   full
9477  2014               750   full

[113 rows x 10 columns]

### 7.) Checking the correlation of attributes with each other

In [10]:
data.corr()

            price   mileage      engV      year
price    1.000000 -0.312415  0.051070  0.370379
mileage -0.312415  1.000000  0.047070 -0.495599
engV     0.051070  0.047070  1.000000 -0.042251
year     0.370379 -0.495599 -0.042251  1.000000

# Aplying Machine Learning Techniques

In [11]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import r2_score

In [28]:
x = data.iloc[:, [3,4,5,9]].values
y = data.iloc[:,1].values

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2,random_state=0)

### Logistic regression

In [30]:
lr = LogisticRegression()
lr.fit(x_train, y_train)

ValueError: could not convert string to float: 'Diesel'

# decision tree

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
x = data.iloc[:, [0,2,3,4,5,8,9]].values
y = data.iloc[:,1].values

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2,random_state=0)

In [24]:
dt = DecisionTreeClassifier()
dt = dt.fit(x_train, y_train)

ValueError: could not convert string to float: 'Citroen'